<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>SumTest.verifySumLogic10()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]<br/></td></tr>
<tr><td>smoke.high</td><td>SumTest.verifySumLogic11()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]<br/></td></tr>
</table>
