<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Calculator Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-3@990897274</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-7@1902237905</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-2@1042790962</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-12@1273143001</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic10()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic10</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-5@1489743810</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-9@434398524</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-2@1042790962</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-4@593415583</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic11()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic11</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-1@1412601264</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-11@1807648168</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-10@1392794732</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-5@1489743810</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>-42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.parameterTest(java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">parameterTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-6@1976804832</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-8@485937598</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.verifySumLogic12()[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">verifySumLogic12</td> 
  <td>TestNG-methods-10@1392794732</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="9d91f3">  <td>23/10/25 19:59:00</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DivTest.divTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.DivTest@55b0dcab]">divTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
<tr bgcolor="79beb7">  <td>23/10/25 19:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SumTest.sumTest(java.lang.String,java.lang.String)[pri:0, instance:com.magdalena.calculatorTest.SumTest@1ff4931d]">sumTest</td> 
  <td>main@1504642150</td>   <td></td> </tr>
</table>
