<h2>Methods that were not run</h2><table>
<tr><td>com.magdalena.calculatorTest.SumTest.verifySumLogic10</td></tr>
<tr><td>com.magdalena.calculatorTest.SumTest.verifySumLogic11</td></tr>
<tr><td>com.magdalena.calculatorTest.SumTest.verifySumLogic12</td></tr>
<tr><td>com.magdalena.calculatorTest.SumTest.sumTest</td></tr>
</table>